.user-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__item a {
  color: var(--basic-black);
}

.user-nav__item a:hover,
.user-nav__item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__item a:active {
  color: rgba(0, 0, 0, 0.3);
}
